extends layout

block content
  .main.container.text-xs-center

      p

      h1 My Polls

      if !myPolls.length
        p you haven't created any poll so far.
      else
        ul
          each val in myPolls
            p
              a(href="/poll?title=" + val) #{val}
